:root {
  --charcoal: #264653ff;
  --persian-green: #2a9d8fff;
  --orange-yellow-crayola: #e9c46aff;
  --sandy-brown: #f4a261ff;
  --burnt-sienna: #e76f51ff;
  --grey: #777;

  --rgba-charcoal: rgba(38, 70, 83, 1);
  --rgba-green: rgba(42, 157, 143, 1);
  --rgba-yellow-crayola: rgba(233, 196, 106, 1);
  --rgba-brown: rgba(244, 162, 97, 1);
  --rgba-sienna: rgba(231, 111, 81, 1);
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  /* font-size: 16px; */
  line-height: 1.7;
  color: var(--charcoal);
  box-sizing: border-box;
}

.footer {
  background-color: var(--charcoal);
  padding: 6rem 6% 1rem;
}

.copyright {
  text-align: center;
  color: var(--orange-yellow-crayola);
}

/* HEADER */
.header {
  height: 95vh;
  background-image: linear-gradient(
      0deg,
      rgba(38, 70, 83, 0.99),
      rgba(42, 157, 143, 0.95),
      rgba(233, 196, 106, 0.91),
      rgba(244, 162, 97, 0.85),
      rgba(231, 111, 81, 0.81)
    ),
    url("https://images.pexels.com/photos/2770933/pexels-photo-2770933.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=1000");
  background-size: cover;
  background-position: center;

  clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
}

.header__logo-box {
  position: absolute;
  top: 4rem;
  left: 4rem;
}

.header__logo {
  height: 3.5rem;
  border-radius: 0.5rem;
  /* transition: animation 1s; */
}

.header__logo:hover {
  animation: rotate360 1s ease;
}

.header__text-box {
  left: 50%;
  position: absolute;
  text-align: center;
  top: 40%;
  transform: translate(-50%, -50%);
}

.heading-primary {
  color: #fff;
  text-transform: uppercase;
  backface-visibility: hidden;
  margin-bottom: 6rem;
}

.heading-primary--main {
  animation: moveInLeft 1s ease;
  display: block;
  font-size: 6rem;
  font-weight: 600;
  letter-spacing: 3.5rem;
}
.heading-primary--sub {
  animation: moveInRight 1s ease;
  display: block;
  font-size: 2rem;
  font-weight: 400;
  letter-spacing: 1.3rem;
}

@keyframes rotate360 {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }
  80% {
    transform: translateX(1rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem);
  }
  80% {
    transform: translateX(-1rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.btn:link,
.btn:visited {
  border-radius: 10rem;
  display: inline-block;
  font-size: 1.6rem;
  font-weight: 600;
  padding: 1.5rem 4rem;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 0.25s ease;
}

.btn:hover {
  transform: translateY(-0.3rem);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}

/* clicked*/
.btn:active {
  transform: translateY(-0.1rem);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}

.btn--white {
  background-color: white;
  color: var(--charcoal);
}

.btn::after {
  border-radius: 10rem;
  content: "";
  display: inline-block;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1;
  transition: all 0.4s ease-out;
}

.btn--white::after {
  background-color: white;
}

.btn:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}

.btn--animated {
  animation: moveInBottom 1s ease-out 0.75s;
  animation-fill-mode: backwards;
}
