.btn {
  &:link,
  &:visited {
    border-radius: 10rem;
    display: inline-block;
    font-size: $default-font-size;
    font-weight: 600;
    padding: 1.5rem 4rem;
    position: relative;
    text-decoration: none;
    transition: all 0.25s ease;
  }

  &:hover {
    transform: translateY(-0.3rem);
    box-shadow: 0 1rem 2rem rgba($clr-black, 0.2);

    &::after {
      transform: scaleX(1.4) scaleY(1.6);
      opacity: 0;
    }
  }

  &:active {
    transform: translateY(-0.1rem);
    box-shadow: 0 0.5rem 1rem rgba($clr-black, 0.2);
  }

  &--white {
    background-color: $clr-white;
    color: $burnt-sienna;
    &::after {
      background-color: $clr-white;
    }
  }

  &--green {
    background-color: $persian-green;
    color: $clr-white;
    &::after {
      background-color: $persian-green;
    }
  }

  &::after {
    border-radius: 10rem;
    content: "";
    display: inline-block;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;
    transition: all 0.4s ease-out;
  }

  &--animated {
    animation: moveInBottom 1s ease-out 0.75s;
    animation-fill-mode: backwards;
  }
}

.btn-text {
  &:link,
  &:visited {
    color: $charcoal;
    display: inline-block;
    text-decoration: none;
    border-bottom: 1px solid $charcoal;
    padding: 3px;
    font-size: $default-font-size;
    transition: all .2s;
  }

  &:hover {
    background-color: $charcoal;
    color: $clr-white;
    box-shadow: 0 1rem 2rem rgba($clr-black, 0.15);
    transform: translateY(-2px);
  }

  &:active {
    box-shadow: 0 .5rem 1rem rgba($clr-black, 0.15);
    transform: translateY(0);
  }
}
